*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: $main-font;
  font-style: normal;
}
/* all ordered marks away */

.list {
  list-style: none;
}

/* all underlined marks away */

.link {
  text-decoration: none;
}

img {
  display: block;
}
